*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}